<div class="main container-fulid">
  <div
    class="leading-8 grid grid-cols-1 gap-4 p-6 md:p-8 lg:p-10 w-full max-w-md"
  >
    <div class="p-2">
      <p
        routerLink="/"
        role="button"
        class="fw-bold fs-1 text-center text-white"
      >
        WUZZUF
      </p>
    </div>

    <div class="bg-white p-4 rounded-1 col-lg-4 col-md-12 col-sm-12 container">
      <p class="text-center p-2 fs-5 text-black">Welcome Back</p>
      <div
        role="button"
        class="text-white position-relative bg-primary text-center"
        style="height: 36px"
      >
        <img
          class="g-img"
          src="4ed17f1480990b96fc90612ef2f5b5e7.svg"
          alt="image"
        />
        Sign in with Google
      </div>

      <div class="p-1">
        <p class="text-secondary text-center">or</p>
      </div>

      <form (submit)="onSubmit()" [formGroup]="loginForm">
        <div class="position-relative mb-3">
          <label class="fw-bold text-secondary" for="email">Email</label>
          <input
            type="email"
            name="email"
            class="form-control col-12 rounded-1"
            placeholder="Email"
            formControlName="email"
            [ngClass]="{
              'border-danger':
                (email?.touched || email?.dirty) && email?.invalid
            }"
          />
          @if(email?.touched || email?.dirty && email?.invalid) {
          @if(email?.errors?.['required']) {
          <small class="text-danger absolute top-14">email is required</small>
          }@else if(email?.errors?.['pattern']){
          <small class="text-danger absolute top-14">invalid email</small>
          } }
        </div>

        <div class="mb-3">
          <label class="text-secondary fw-bold" style="font-size: 14px"
            >Password</label
          >
          <span class="font-bold block text-sm text-slate-600"> </span>
          <div class="position-relative">
            <input
              [type]="type"
              name="email"
              class="form-control col-12 position-relative rounded-1"
              placeholder="Password"
              formControlName="password"
              [ngClass]="{
                'border-danger':
                  (password?.touched || password?.dirty) && password?.invalid
              }"
            />
            <i
              role="button"
              class="position-absolute fa-solid text-secondary top-50 end-0 translate-middle"
              [ngClass]="type === 'text' ? 'fa-eye-slash' : 'fa-eye'"
              (click)="passwordVisibility()"
            ></i>
          </div>
          @if(password?.touched || password?.dirty && password?.invalid){
          @if(password?.errors?.['required']){
          <small class="text-danger">password is required</small>
          } }
        </div>

        <button [disabled]="isLoading" class="btn btn-primary w-100 rounded-1">
          @if(isLoading){ @if(success){
          <i class="fa-solid fa-check"></i>
          }@else {
          <div class="size-4 spinner-border text-white" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>

          } }@else { Sign in }
        </button>
      </form>
      <p class="text-center p-3">
        <small
          [routerLink]="['/forget-password']"
          class="text-primary fw-bold"
          role="button"
        >
          Forget password?</small
        >
      </p>
      <p class="text-center">
        <small class="fw-bold text-black text-center">
          New to WUZZUF?
          <span routerLink="/register" role="button" class="text-primary"
            >Join now</span
          >
        </small>
      </p>
    </div>
  </div>
</div>
