.main {
  background-image: url(../../../../public/register-bg-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.img-s {
  width: 36px;
  border: 1px solid transparent;
}

.h3-style {
  font-size: 28px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.7px;
  line-height: 40px;
  color: white;
}

div ul li {
  font-size: 20px;
}

div ul li i {
  font-size: 18px;
}

.c-s {
  width: 448px;
  flex-wrap: wrap;
}

.c-s img {
  width: 76px;
  height: 57px;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 4px;
}
