<div class="container">
  <div class="d-flex align-items-center gap-2">
    <p class="fw-bold text-secondary align-self-sm-center">
      Jobs by career level
    </p>
    <button class="btn btn-secondary text-black rounded-1 btn-sm">
      Student
    </button>
    <button class="btn btn-secondary text-black rounded-1 btn-sm">
      Entry Level
    </button>
    <button class="btn btn-secondary text-black rounded-1 btn-sm">
      Experienced (Non-Manager)
    </button>
    <button class="btn btn-secondary text-black rounded-1 btn-sm">
      Manager
    </button>
    <button class="btn btn-secondary text-black rounded-1 btn-sm">
      Senior Management (e.g. VP, CEO)
    </button>
    <button class="btn btn-secondary text-black rounded-1 btn-sm">
      Not specified
    </button>
  </div>
  <hr class="text-light" />
  <div>
    <p class="text-secondary fw-bold">Jobs by Categories</p>
    <div class="container-fulid">
      <div class="row">
        <div class="col-3 text-light text-nowrap">
          <p>Accounting/Finance</p>
          <p>Engineering - Construction/Civil/Arc...</p>
          <p>Writing/Editorial</p>
          <p>IT/Software Development</p>
          <p>Manufacturing/Production</p>
          <p>Quality</p>
          <p>Sports and Leisure</p>
          <p>Purchasing/Procurement</p>
        </div>
        <div class="col-3 text-light">
          <p>Administration</p>
          <p>Business Development</p>
          <p>Hospitality/Hotels/Food Services</p>
          <p>Legal</p>
          <p>Marketing/PR/Advertising</p>
          <p>Analyst/Research</p>
          <p>Fashion</p>
          <p>Strategy/Consulting</p>
        </div>
        <div class="col-3 text-light">
          <p>Banking</p>
          <p>Creative/Design/Art</p>
          <p>Human Resources</p>
          <p>Logistics/Supply Chain</p>
          <p>Medical/Healthcare</p>
          <p>Sales/Retail</p>
          <p>Pharmaceutical</p>
          <p>C-Level Executive/GM/Director</p>
        </div>
        <div class="col-3 text-light">
          <p>R&D/Science</p>
          <p>Customer Service/Support</p>
          <p>Installation/Maintenance/Repair</p>
          <p>Operations/Management</p>
          <p>Project/Program Management</p>
          <p>Media/Journalism/Publishing</p>
          <p>Tourism/Travel</p>
          <p>Engineering - Telecom/Technology</p>
        </div>
      </div>
    </div>
  </div>
  <hr class="text-light" />
  <div>
    <p class="text-secondary fw-bold">Jobs by Location</p>
    <div class="container-fulid">
      <div class="row">
        <div class="col-3 text-light">
          <p>Cairo</p>
          <p>Riyadh</p>
          <p>Gharbia</p>
          <p>Ismailia</p>
        </div>
        <div class="col-3 text-light">
          <p>Giza</p>
          <p>Monufya</p>
          <p>Red Sea</p>
          <p>Beni Suef</p>
        </div>
        <div class="col-3 text-light">
          <p>Alexandria</p>
          <p>Qalubia</p>
          <p>Suez</p>
          <p>Damietta</p>
        </div>
        <div class="col-3 text-light">
          <p>Sharqia</p>
          <p>Dubai</p>
          <p>Dakahlia</p>
          <p>Matruh</p>
        </div>
      </div>
    </div>
  </div>
</div>
